<transition name="modal">
    <b-modal id="modal-scrollable" ref="my-modal" 
        no-close-on-backdrop no-close-on-esc
        :hide-footer="true" scrollable title="Tạo bài viết mới">
        <form @submit.prevent="saveCollection">
            <div class="form-group">
                <label for="email">Bạn đang nghĩ gì?</label>
                <textarea type="text" class="form-control" rows="7"  v-model="newPost.content"></textarea>
                <p class="text-danger"></p>
            </div>
            <div class="form-group">
                <label for="password">Hình ảnh chia sẽ của bạn.</label>
                <img v-if="thumbnail != null" :src="thumbnail"
                    class="img-thumbnail rounded float-left mb-2" alt="Thumbnail">
                <br>
                <div class="custom-file">
                    <input type="file" id="input-thumbnail" @change="getCollectionThumbnail" hidden>
                    <label class="form-control col-12" for="input-thumbnail">ファイルを選択</label>
                </div>
                <p class="pl-3 text-danger" ></p>
                <!-- <input type="file" class="form-control" /> -->
                <p class="text-danger" ></p>
            </div>
            <div class="form-group pt-2">
                <button type="submit" class="btn btn-success btn-sm col-sm-4">Đăng bài</button>
            </div>
        </form>
      </b-modal>
</transition>
