<div class="col-12 col-lg-6">
    <div class="middle-column">
        <div class="card">
            <div class="card-body bg-transparent">
                <form class="form-inline">
                    <div class="input-group w-100">
                        <input type="text" placeholder="Bạn đang nghĩ gì?" class="form-control rounded form-control-md"
                            v-b-modal.modal-scrollable>
                        <div class="input-group-append" v-b-modal.modal-scrollable>
                            <div class="input-group-text">
                                Đăng bài
                            </div>
                        </div>
                        <ModalPost v-show="isModalVisible" @close="closeModal">
                            <!-- <template v-slot:header>
                                Tao bai viet moi
                            </template>

                            <template v-slot:body>
                                This is a new modal body.
                            </template>

                            <template v-slot:footer>
                                This is a new modal footer.
                            </template> -->
                        </ModalPost>
                    </div>
                </form>
            </div>
        </div>

        <div class="" v-if="listPostByUser.length > 0" >
            <div class="card mt-3" v-for="item in listPostByUser" :key="item._id">
                <div class="card-body">
                    <div class="media">
                        <h5>{{ item.user.name }}</h5>
                        <div class="media-body">
                            <div class="row" v-if="item.file_url">
                                <div class="col-sm-12">
                                    <img v-bind:src="item.file_url" width="100%" alt="img" class="rounded mr-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="card-text text-justify">{{ item.content }}</p>
                                </div>
                            </div>
                        </div>
                        <small>{{ item.date_create | convertDate }}</small>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="media">
                        <h5 class="text-center">{{ listPostByUserEmpty }}</h5>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
