<div class="container">
    <div class="card mx-auto mt-5" style="max-width: 500px">
        <div class="card-body">
            <div class="mx-auto text-center">
                <h3 class="mt-4 font-weight-bold">Đăng Nhập</h3>
            </div>
            <div class="card-body">
                <div v-if="errorLogin">
                    <h5 class="text-center font-weight-bold text-danger">{{ errorLogin.message }}</h5>
                </div>
                <form @submit.prevent="login">
                    <div class="form-group">
                        <label for="email">Tên đăng nhập</label>
                        <input type="text" class="form-control" v-model="formData.email" />
                        <p class="text-danger" v-if="errorEmail">{{ errorEmail }}</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật Khẩu</label>
                        <input type="password" class="form-control" v-model="formData.password" />
                        <p class="text-danger" v-if="errorPassword">{{ errorPassword }}</p>
                    </div>
                    <div class="form-group text-center pt-5">
                        <button type="submit" class="btn btn-dark btn-login">Đăng Nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
